
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}

<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>
                                        Egenin Kalbinde Denize Sıfır Doğayla İç İçe Bir Tatil Mekanı
                                    </h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmetler">
                                        Hizmetlerimizi İnceleyin!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Hayal Ettiğinizden Çok Daha Fazlasını Yakalamak İçin Hemen Rezervasyon Yapın</h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/İletisim/Index">
                                        Bize Ulaşın!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>
                                        Seçkin Misafirlerimizden Birisi Olun ve Kendinizi Otelimizin Rahatlatıcı İmkanlarına Bırakın!
                                    </h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmetler">
                                        Hizmetlerimizi İnceleyin!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Termal Havuz,Spa Merkezi,Masaj Salonumuz,Spor Salonumuz,7/24 Oda Servisi Hizmetimiz ve Daha Fazlası İçin.. </h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/İletisim/Index">
                                        Bize Ulaşın!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- /main-slider -->
<!-- about -->
<section class="w3l-about py-5">
    <div class="container py-sm-4">
        <div class="row">
            <div class="col-lg-6 about-left mb-md-0 mb-5">
                <h3 class="title-big">Otelimizde Rahatlamanın Konforunu Yaşayın.</h3>
                <h5>Yüksek standartlarda konaklama</h5>
                <p style="text-transform: capitalize; " class="mt-3">
                   Otelimizde Kalan Her Birey Bizim Müşterimiz Değil Misafirimizdir Onların Mutluluğu Bizim Mutluluğumuzdur.
                   Biz Verdiğimiz Hizmetlerin Motivasyonunu ,Siz Değerli Misafirlerimizi Mutluluğu İle Canlı Tutuyor ve Güzel Bir Tatil geçirmeniz
                   İçin En iyi Hizmeti Veriyoruz.Çocuk Oyun Alanı , otel havuzu,bar ,restorant, spa salonu, termali, açık büfesi, 7/24 oda servisi,açık büfe kahvaltı
                    ve akşam yemeği imkanlarımızla sizleri de aramızda görmek istiyoruz.

                </p>
                <a href="/Hizmetler/Hizmetler" class="btn btn-style btn-primary mt-sm-5 mt-4">İmkanlarımızı Keşfedin</a>
            </div>
            <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
                <img src="~/hotels-starter/assets/images/top.jpg" alt="" class="img-fluid img-border mt-4" />
                <img src="~/hotels-starter/assets/images/bottom.jpg" alt="" class="img-fluid position-absolute img-position" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<div class="best-rooms py-5">
    <div class="container py-lg-5 py-sm-4">
        <h3 class="title-big text-center">Odalarımız</h3>
        <div class="ban-content-inf row py-lg-3">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="~/hotels-starter/assets/images/room1.jpg" alt="">
                        <figcaption class="w3set-hny">
                            <div>
                                <h4 class="top-text">
                                    Mvc Proje Oteli
                                    <span>Özel Suit Odamız</span>
                                </h4>
                                <p>200₺'den Başlayan Fiyatlar </p>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="room-info">
                        <h3 class="room-title"><a href="/Rezervasyon/Index">Mvc Proje Oteli</a></h3>
                        <ul class="mb-3">
                            <li><span class="fa fa-users"></span> 2 Kişilik</li>
                            <li><span class="fa fa-bed"></span> Çift Kişilik Ultra Lüks Yatak</li>
                            @*<li><span class="fa fa-bed"></span> </li>*@
                        </ul>
                        <p style="text-transform: capitalize; ">
                            En güzel odamızda doğaya zarar verilmeden açılan pencerede yemyeşil ve masmavi bir manzaraya huzur içinde uyanmak ister misiniz?
                        </p>
                        <a href="/Rezervasyon/Index" class="btn btn-style btn-primary mt-sm-4 mt-3">Rezervasyon Yap</a>
                    </div>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/room2.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Aile <span>Odaları</span></h4>
                                        <p>600₺'den Başlayan Fiyatlarla </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/room3.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>2 Kişilik<span> Odalar</span></h4>
                                        <p>320₺'den Başlayan Fiyatlarla </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/room4.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Tek Kişilik Odalar <span> </span></h4>
                                        <p>120₺ 'den Başlayan Fiyatlarla </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/room5.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>İndirimli Öğrenci <span> Odaları</span></h4>
                                        <p>100₺ 'den Başlayan Fiyatlarla'</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="w3l-index3">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-righ">
                    <div class="position-relative">
                        <img src="~/hotels-starter/assets/images/videobg.jpg" alt="" class="img-fluid" />
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://player.vimeo.com/video/246941769" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                    <h6>Discover our Locations</h6>
                    <h3 class="title-big">Ege Kıyılarının ilk uluslararası 5 yıldızlı dizayn oteli,20 Yıllık İşletme Deneyimi ve Ayrıcalıklarıyla Sizlerle...</h3>
                    <p class="mt-3">
                       İzmir  , Muğla , Çanakkale , ve Aydın'daki otellerimizle ilgili siz değerli müşterilerimize hizmet vermeye devam ediyoruz.
                    </p>
                    <ul class="w3l-right-book mt-4">
                        <li><span class="fa fa-check" aria-hidden="true"></span>Müşterilerimiz için en iyi hizmetler.</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Kafe ve Restoranları</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Tek , Çift ve 3 Kişilik Lüks Odalar</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>100 Bin M2’lik Yeşil Alan Üzerinde Yer Alan Modern Bir Bina</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Açık - Kapalı Yüzme Havuzu, Fitness ve Spa Merkezi</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Geniş Toplantı Salonları</li>
                    </ul>
                    <a href="/Hizmetler/Hizmetler" class="btn btn-style btn-primary mt-4">Avantajlarımızı İnceleyin</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- quotation -->
<div class="quotation py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-5 py-3">
            <h3>Yüksek standartlarda konaklama imkanı sunan MVC OTELİM , birbirinden şık odaları, lezzetli restoranları ve geniş kapasiteli rahatlama alanları ile sizi bekliyor.</h3>
            <a href="/Rezervasyon/Index" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Rezervasyon Yap</a>
            <a href="/İletisim/Index" class="btn btn-style btn-primary mt-sm-5 mt-4">İletişim</a>
        </div>
    </div>
</div>
<!-- //quotation -->
 
<section class="w3l-logos py-5">
    <div class="container py-lg-3">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                <img src="~/hotels-starter/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                <img src="~/hotels-starter/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-sm-0 mt-4">
                <img src="~/hotels-starter/assets/images/logo3.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-md-0 mt-4">
                <img src="~/hotels-starter/assets/images/logo4.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                <img src="~/hotels-starter/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                <img src="~/hotels-starter/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
            </div>
        </div>
    </div>
</section>



