
<section class="w3l-testimonials">
    <!-- main-slider -->
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="title-big text-center">Referanslarımız</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/albert-dera-ILip77SbmOE-unsplash.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                   Geçtiğimiz ay şirket olarak katıldığımız iş kampında 4 gün boyunca bizleri evimizdeymişiz gibi ağırlayan MVC Otel Projesi Ekibine çok teşekkür ediyor herkese iyi çalışmalar diliyorum.
                                </div>
                                <div class="name">- Ahmet Yıldız</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                   Uzun süredir işlerden kaçıp bir yerlerde doğayla iç içe tatil yapmak istiyordum çok iyi bir dinlenme ortamı istiyordum tüm aradıklarımı burada buldum teşekkür ederim...
                                </div>
                                <div class="name">- Nazmiye Altun</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/ian-dooley-d1UPkiFd04A-unsplash.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                  Haziran ayında geldiğimiz hem kutlama hem yoğun geçen iş döneminin ardından minik bir mola amacıyla geldiğimiz MVC Otelinde kalmaktan çok mutluyum en kısa sürede tekrar ziyaret etmek isterim.
                                </div>
                                <div class="name">- Kaan Önengil</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/jurica-koletic-7YVZYZeITc8-unsplash.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Bu yaz ailemle beraber geldikten sonra o kadar memnun kaldım ki hemen tüm arkadaş ve akrabalarımı davet ettim tüm yaz planlarımızı bu otelde yapacağız galiba...
                                </div>
                                <div class="name">- Elizabeth</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>
